.center-article {
    text-align: center;
    padding: 0px 200px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px 200px;
    padding: 150px;
    border: 1px dashed #9E5A3D;
    background: #999;
}
form{
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    padding: 50px;
    background: #F4F4F4;
    border-radius: 15px;
    box-shadow: 10px 10px 53px -2px rgba(0, 0, 0, 0.25);

}
input, textarea{
    border: 1px dashed #9E5A3D;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
     width: 400px;
     background: #F4F4F4;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.left-card{
    border: 1px solid transparent;
    background: #F4F4F4;
    border-radius: 15px;
    box-shadow: 10px 10px 53px -2px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin-top: 70px;
    margin-right: 50px;
    padding: 50px 40px;   
}
h3{
    font-size: 30px;
    margin-bottom: 25px;
}
.info-item {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 30px;
}
.info-item p{
    margin-left: 15px;
}
.info-item i{
    font-size: 25px;
}
.button{
    margin-top: 20px;
    margin-left: 250px;
    width: 200px;
    border: none;
    background: #9E5A3D;
    color: #fff;
    font-size: 18px;
}
.button:hover{
    color: #9E5A3D;
    background:transparent;
    border: 1px dashed #9E5A3D;
    transition: 1s ease;
}
form h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.social{
    margin-top: 10px;
    margin-right: 30px;
}
i{
    padding: 5px;
    transition: 1s ease;
}
i:hover{
    color: #9E5A3D;
    transform: scale(1.1);
}